--
-- PostgreSQL database dump
--

-- Dumped from database version 16.2
-- Dumped by pg_dump version 16.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ads_app_advertisement; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ads_app_advertisement (
    id bigint NOT NULL,
    title character varying(255),
    description text,
    url character varying(200),
    start_date timestamp with time zone,
    end_date timestamp with time zone,
    is_active boolean,
    is_brand boolean
);


--
-- Name: ads_app_advertisement_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.ads_app_advertisement ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ads_app_advertisement_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ads_app_advertisementimage; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ads_app_advertisementimage (
    id bigint NOT NULL,
    image character varying(100),
    advertisement_id bigint
);


--
-- Name: ads_app_advertisementimage_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.ads_app_advertisementimage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ads_app_advertisementimage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: customer_app_customer; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.customer_app_customer (
    id bigint NOT NULL,
    name character varying(100),
    email character varying(254),
    phone_number character varying(50),
    anonym_user character varying(200),
    created_at timestamp with time zone,
    user_id integer
);


--
-- Name: customer_app_customer_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.customer_app_customer ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.customer_app_customer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: customer_app_customerlocation; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.customer_app_customerlocation (
    id bigint NOT NULL,
    ip_address character varying(50),
    user_address character varying(245),
    user_lat_long character varying(100),
    customer_id bigint
);


--
-- Name: customer_app_customerlocation_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.customer_app_customerlocation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.customer_app_customerlocation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


--
-- Name: like_app_like; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.like_app_like (
    id bigint NOT NULL,
    created_at timestamp with time zone,
    customer_id bigint
);


--
-- Name: like_app_like_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.like_app_like ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.like_app_like_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: like_app_likeitem; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.like_app_likeitem (
    id bigint NOT NULL,
    created_at timestamp with time zone,
    like_id bigint,
    product_id bigint
);


--
-- Name: like_app_likeitem_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.like_app_likeitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.like_app_likeitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: order_app_order; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.order_app_order (
    id bigint NOT NULL,
    date_ordered timestamp with time zone,
    complete boolean,
    total_items_price double precision,
    total_price double precision,
    customer_id bigint
);


--
-- Name: order_app_order_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.order_app_order ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.order_app_order_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: order_app_orderitem; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.order_app_orderitem (
    id bigint NOT NULL,
    quantity integer,
    date_added timestamp with time zone,
    order_id bigint,
    product_id bigint,
    CONSTRAINT order_app_orderitem_quantity_check CHECK ((quantity >= 0))
);


--
-- Name: order_app_orderitem_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.order_app_orderitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.order_app_orderitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: order_app_shippingaddress; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.order_app_shippingaddress (
    id bigint NOT NULL,
    customer_name character varying(150),
    phone_number character varying(50),
    address character varying(200),
    date_added timestamp with time zone,
    payment_type character varying(50),
    note text,
    customer_id bigint,
    order_id bigint,
    region_name_id bigint
);


--
-- Name: order_app_shippingaddress_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.order_app_shippingaddress ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.order_app_shippingaddress_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: order_app_shippingconfig; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.order_app_shippingconfig (
    id bigint NOT NULL,
    shipping_price double precision NOT NULL
);


--
-- Name: order_app_shippingconfig_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.order_app_shippingconfig ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.order_app_shippingconfig_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: order_app_shippingregion; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.order_app_shippingregion (
    id bigint NOT NULL,
    region_name character varying(235) NOT NULL
);


--
-- Name: order_app_shippingregion_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.order_app_shippingregion ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.order_app_shippingregion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_app_product; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.product_app_product (
    id bigint NOT NULL,
    product_name character varying(100),
    product_description text,
    original_price double precision,
    sale_price double precision,
    stock integer,
    product_description_ru text,
    product_description_tm text,
    product_name_ru character varying(100),
    product_name_tm character varying(100),
    CONSTRAINT product_app_product_stock_check CHECK ((stock >= 0))
);


--
-- Name: product_app_product_category_name; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.product_app_product_category_name (
    id bigint NOT NULL,
    product_id bigint NOT NULL,
    productcategory_id bigint NOT NULL
);


--
-- Name: product_app_product_category_name_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.product_app_product_category_name ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_app_product_category_name_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_app_product_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.product_app_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_app_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_app_productcategory; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.product_app_productcategory (
    id bigint NOT NULL,
    category_name character varying(150),
    category_name_ru character varying(150),
    category_name_tm character varying(150)
);


--
-- Name: product_app_productcategory_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.product_app_productcategory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_app_productcategory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_app_productimage; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.product_app_productimage (
    id bigint NOT NULL,
    image character varying(100),
    product_name_id bigint
);


--
-- Name: product_app_productimage_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.product_app_productimage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_app_productimage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: ads_app_advertisement; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: ads_app_advertisementimage; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.auth_permission VALUES (1, 'Can add log entry', 1, 'add_logentry');
INSERT INTO public.auth_permission VALUES (2, 'Can change log entry', 1, 'change_logentry');
INSERT INTO public.auth_permission VALUES (3, 'Can delete log entry', 1, 'delete_logentry');


--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.auth_user VALUES (1, 'pbkdf2_sha256$720000$Aagoymi9SyHkgeBz1pBhfv$le6USbzsHdpi8GDSeFEFPdvOkw8tRH6KamOeelp6/A8=', '2024-09-23 18:21:02.346009+05', true, 'admin', '', '', '', true, true, '2024-09-21 20:02:07.146952+05');


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: customer_app_customer; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.customer_app_customer VALUES (2, NULL, NULL, NULL, 'c07f2e86-6dbf-46e0-bc41-d3f2ac624044', '2024-09-21 20:10:40.416576+05', NULL);
INSERT INTO public.customer_app_customer VALUES (3, NULL, NULL, NULL, '50acc6e3-0d3e-4e45-b68e-f8569d6dd4ab', '2024-09-21 20:10:50.765811+05', NULL);
INSERT INTO public.customer_app_customer VALUES (4, NULL, NULL, NULL, '0f13f8b4-e01f-457e-bc6a-e5df1bb052ad', '2024-09-21 20:20:42.055267+05', NULL);


--
-- Data for Name: customer_app_customerlocation; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.customer_app_customerlocation VALUES (1, '93.171.222.6', 'Ashgabat/Ahal/Turkmenistan', '38.63994 59.47209', 1);


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.django_admin_log VALUES (1, '2024-09-21 20:34:14.209556+05', '1', 'Pain Relievers', 1, '[{"added": {}}]', 14, 1);
INSERT INTO public.django_admin_log VALUES (2, '2024-09-21 20:34:35.487763+05', '2', 'Cold and Flu', 1, '[{"added": {}}]', 14, 1);
INSERT INTO public.django_admin_log VALUES (3, '2024-09-21 20:35:24.500475+05', '1', '27172864-c36a-4e01-aaf7-3e67b2aa7b71', 2, '[{"changed": {"fields": ["User", "Phone number"]}}]', 7, 1);


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.django_content_type VALUES (1, 'admin', 'logentry');
INSERT INTO public.django_content_type VALUES (2, 'auth', 'permission');
INSERT INTO public.django_content_type VALUES (3, 'auth', 'group');


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.django_migrations VALUES (1, 'contenttypes', '0001_initial', '2024-09-21 19:41:29.465783+05');
INSERT INTO public.django_migrations VALUES (2, 'auth', '0001_initial', '2024-09-21 19:41:30.44225+05');
INSERT INTO public.django_migrations VALUES (3, 'admin', '0001_initial', '2024-09-21 19:41:30.664654+05');


--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.django_session VALUES ('n5bekv1zuxhni9o9px2jixl6k1a4yqyk', '.eJxVjDkOg0AQBP-ysUHM3jh07jegmZ3B4GNX4ggsy3-3kAhM2lVdH4W55PerW2eZupHVWWkiighQGaOxsk6nioB0BRJDA7qJZFGdVIfrMvzd4LgRpofkDfAd863UqeRlGqnelHqnc30tLM_L7h4CA87DltWsmcW2UUywAVJrnbi2T-B1H3zvnLTYR8-NWNsEZyx6JgOSMHh2or4_fL5H0g:1ssRzD:CR84wNImAwIDvwDB39SbHFVW0xnbAVjOQU6W4B76pPk', '2025-09-23 00:11:11.621987+05');
INSERT INTO public.django_session VALUES ('dff5zwum2713uq0fchapz08sv71n8d12', 'eyJhbm9ueW1fdXNlcl9pZCI6IjNmYmE5MjU1LWM3MGMtNDMzNC05MzM4LTAzNmE5MDZjZWE4MCJ9:1st4aX:85nILHjKOPlLHjen4nCH8BN0K8q1IeinT-Nm_zNYWhk', '2025-09-24 17:24:17.623339+05');
INSERT INTO public.django_session VALUES ('s6p7or7mxuv30vehfhspx2u0e4upyose', 'e30:1ssj8C:cbkxKFLDIu76hNTuFFXgkBp4cBM83HjtXB2R-danylk', '2025-09-23 18:29:36.811285+05');


--
-- Data for Name: like_app_like; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.like_app_like VALUES (1, '2024-09-21 20:01:19.384131+05', 1);
INSERT INTO public.like_app_like VALUES (2, '2024-09-21 20:10:50.781452+05', 3);
INSERT INTO public.like_app_like VALUES (3, '2024-09-21 20:20:42.077192+05', 4);


--
-- Data for Name: like_app_likeitem; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.like_app_likeitem VALUES (2, '2024-09-21 21:11:51.665524+05', 6, 1);
INSERT INTO public.like_app_likeitem VALUES (1, '2024-09-21 21:11:51.6645+05', 6, 2);
INSERT INTO public.like_app_likeitem VALUES (3, '2024-09-22 23:49:27.889023+05', 5, 7);


--
-- Data for Name: order_app_order; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.order_app_order VALUES (2, NULL, false, NULL, NULL, 2);
INSERT INTO public.order_app_order VALUES (3, NULL, false, NULL, NULL, 3);
INSERT INTO public.order_app_order VALUES (4, NULL, false, NULL, NULL, 4);


--
-- Data for Name: order_app_orderitem; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.order_app_orderitem VALUES (5, 1, NULL, 7, 7);
INSERT INTO public.order_app_orderitem VALUES (34, 15, NULL, 14, 5);
INSERT INTO public.order_app_orderitem VALUES (45, 1, NULL, 15, 9);


--
-- Data for Name: order_app_shippingaddress; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.order_app_shippingaddress VALUES (1, 'Bagtiyar Rejepov', '61051056', 'TurkmenBashy Shayoly drop 1 dom 8 kwartira 17', '2024-09-23 00:06:38.189296+05', 'card', 'ertir irden 9da', 1, 1, 47);


--
-- Data for Name: order_app_shippingconfig; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.order_app_shippingconfig VALUES (1, 30);


--
-- Data for Name: order_app_shippingregion; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.order_app_shippingregion VALUES (1, 'A┼Яgabat');
INSERT INTO public.order_app_shippingregion VALUES (2, 'Atat├╝rk k├╢├з.');
INSERT INTO public.order_app_shippingregion VALUES (3, 'Arzuw');


--
-- Data for Name: product_app_product; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.product_app_product VALUES (1, 'Paracetamol', 'A common pain reliever and fever reducer used for mild to moderate pain.', 12, 21, 250, '╨Ю╨▒╤Л╤З╨╜╨╛╨╡ ╨╛╨▒╨╡╨╖╨▒╨╛╨╗╨╕╨▓╨░╤О╤Й╨╡╨╡ ╨╕ ╨╢╨░╤А╨╛╨┐╨╛╨╜╨╕╨╢╨░╤О╤Й╨╡╨╡ ╤Б╤А╨╡╨┤╤Б╤В╨▓╨╛ ╨┤╨╗╤П ╤Б╨╜╤П╤В╨╕╤П ╨╗╨╡╨│╨║╨╛╨╣ ╨╕ ╤Б╤А╨╡╨┤╨╜╨╡╨╣ ╨▒╨╛╨╗╨╕.', '├Эe┼Иil we orta agyrylar ├╝├зin ulanyl├╜an agyry kesiji we gyzgyny peseldiji derman.', 'Paracetamol', 'Paracetamol');
INSERT INTO public.product_app_product VALUES (2, 'Ibuprofen', 'Nonsteroidal anti-inflammatory drug (NSAID) used for pain, swelling, and inflammation.', 25, 30, 120, '╨Э╨╡╤Б╤В╨╡╤А╨╛╨╕╨┤╨╜╨╛╨╡ ╨┐╤А╨╛╤В╨╕╨▓╨╛╨▓╨╛╤Б╨┐╨░╨╗╨╕╤В╨╡╨╗╤М╨╜╨╛╨╡ ╤Б╤А╨╡╨┤╤Б╤В╨▓╨╛ (╨Э╨Я╨Т╨б), ╨╕╤Б╨┐╨╛╨╗╤М╨╖╤Г╨╡╨╝╨╛╨╡ ╨┤╨╗╤П ╤Б╨╜╤П╤В╨╕╤П ╨▒╨╛╨╗╨╕ ╨╕ ╨▓╨╛╤Б╨┐╨░╨╗╨╡╨╜╨╕╤П.', 'Agyry, ┼Яi┼Яme we ├зi┼Яigi azaltmak ├╝├зin ulanyl├╜an steroid d├дl derman.', 'Ibuprofen', 'Ibuprofen');
INSERT INTO public.product_app_product VALUES (3, 'Aspirin', 'Commonly used for pain relief, fever, and inflammation, and also for heart protection.', 22, 29, 200, '╨з╨░╤Б╤В╨╛ ╨╕╤Б╨┐╨╛╨╗╤М╨╖╤Г╨╡╤В╤Б╤П ╨┤╨╗╤П ╨╛╨▒╨╡╨╖╨▒╨╛╨╗╨╕╨▓╨░╨╜╨╕╤П, ╤Б╨╜╨╕╨╢╨╡╨╜╨╕╤П ╤В╨╡╨╝╨┐╨╡╤А╨░╤В╤Г╤А╤Л ╨╕ ╨▓╨╛╤Б╨┐╨░╨╗╨╡╨╜╨╕╤П, ╨░ ╤В╨░╨║╨╢╨╡ ╨┤╨╗╤П ╨╖╨░╤Й╨╕╤В╤Л ╤Б╨╡╤А╨┤╤Ж╨░.', 'Agyry, gyzgyn, ├зi┼Яm├д gar┼Яy ulanyl├╜ar, ├╜├╝rek goragy ├╝├зin hem pe├╜daly.', 'Aspirin', 'Aspirin');


--
-- Data for Name: product_app_product_category_name; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.product_app_product_category_name VALUES (1, 1, 1);
INSERT INTO public.product_app_product_category_name VALUES (2, 2, 1);
INSERT INTO public.product_app_product_category_name VALUES (3, 3, 1);


--
-- Data for Name: product_app_productcategory; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.product_app_productcategory VALUES (1, 'Pain Relievers', '╨Ю╨▒╨╡╨╖╨▒╨╛╨╗╨╕╨▓╨░╤О╤Й╨╕╨╡', 'Agry kesiji dermanlar');
INSERT INTO public.product_app_productcategory VALUES (2, 'Cold and Flu', '╨Я╤А╨╛╤Б╤В╤Г╨┤╨░ ╨╕ ╨│╤А╨╕╨┐╨┐', 'Sowuklama we d├╝mew');
INSERT INTO public.product_app_productcategory VALUES (3, 'Vitamins and Supplements', '╨Т╨╕╤В╨░╨╝╨╕╨╜╤Л ╨╕ ╨┤╨╛╨▒╨░╨▓╨║╨╕', 'Witaminalar we go┼Яundylar');


--
-- Data for Name: product_app_productimage; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.product_app_productimage VALUES (1, 'media/parectamol.webp', 1);
INSERT INTO public.product_app_productimage VALUES (2, 'media/ibuprofen.webp', 2);
INSERT INTO public.product_app_productimage VALUES (3, 'media/aspirin.webp', 3);


--
-- Name: ads_app_advertisement_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.ads_app_advertisement_id_seq', 1, false);


--
-- Name: ads_app_advertisementimage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.ads_app_advertisementimage_id_seq', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 80, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: customer_app_customer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.customer_app_customer_id_seq', 14, true);


--
-- Name: customer_app_customerlocation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.customer_app_customerlocation_id_seq', 1, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 102, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 20, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 32, true);


--
-- Name: like_app_like_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.like_app_like_id_seq', 12, true);


--
-- Name: like_app_likeitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.like_app_likeitem_id_seq', 20, true);


--
-- Name: order_app_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.order_app_order_id_seq', 15, true);


--
-- Name: order_app_orderitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.order_app_orderitem_id_seq', 47, true);


--
-- Name: order_app_shippingaddress_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.order_app_shippingaddress_id_seq', 1, true);


--
-- Name: order_app_shippingconfig_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.order_app_shippingconfig_id_seq', 1, true);


--
-- Name: order_app_shippingregion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.order_app_shippingregion_id_seq', 70, true);


--
-- Name: product_app_product_category_name_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.product_app_product_category_name_id_seq', 26, true);


--
-- Name: product_app_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.product_app_product_id_seq', 23, true);


--
-- Name: product_app_productcategory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.product_app_productcategory_id_seq', 6, true);


--
-- Name: product_app_productimage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.product_app_productimage_id_seq', 23, true);


--
-- Name: ads_app_advertisement ads_app_advertisement_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ads_app_advertisement
    ADD CONSTRAINT ads_app_advertisement_pkey PRIMARY KEY (id);


--
-- Name: ads_app_advertisementimage ads_app_advertisementimage_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ads_app_advertisementimage
    ADD CONSTRAINT ads_app_advertisementimage_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: customer_app_customer customer_app_customer_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer_app_customer
    ADD CONSTRAINT customer_app_customer_pkey PRIMARY KEY (id);


--
-- Name: customer_app_customer customer_app_customer_user_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer_app_customer
    ADD CONSTRAINT customer_app_customer_user_id_key UNIQUE (user_id);


--
-- Name: customer_app_customerlocation customer_app_customerlocation_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer_app_customerlocation
    ADD CONSTRAINT customer_app_customerlocation_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: like_app_like like_app_like_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.like_app_like
    ADD CONSTRAINT like_app_like_pkey PRIMARY KEY (id);


--
-- Name: like_app_likeitem like_app_likeitem_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.like_app_likeitem
    ADD CONSTRAINT like_app_likeitem_pkey PRIMARY KEY (id);


--
-- Name: order_app_order order_app_order_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_app_order
    ADD CONSTRAINT order_app_order_pkey PRIMARY KEY (id);


--
-- Name: order_app_orderitem order_app_orderitem_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_app_orderitem
    ADD CONSTRAINT order_app_orderitem_pkey PRIMARY KEY (id);


--
-- Name: order_app_shippingaddress order_app_shippingaddress_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_app_shippingaddress
    ADD CONSTRAINT order_app_shippingaddress_pkey PRIMARY KEY (id);


--
-- Name: order_app_shippingconfig order_app_shippingconfig_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_app_shippingconfig
    ADD CONSTRAINT order_app_shippingconfig_pkey PRIMARY KEY (id);


--
-- Name: order_app_shippingregion order_app_shippingregion_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_app_shippingregion
    ADD CONSTRAINT order_app_shippingregion_pkey PRIMARY KEY (id);


--
-- Name: product_app_product_category_name product_app_product_cate_product_id_productcatego_8bb22d7d_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_app_product_category_name
    ADD CONSTRAINT product_app_product_cate_product_id_productcatego_8bb22d7d_uniq UNIQUE (product_id, productcategory_id);


--
-- Name: product_app_product_category_name product_app_product_category_name_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_app_product_category_name
    ADD CONSTRAINT product_app_product_category_name_pkey PRIMARY KEY (id);


--
-- Name: product_app_product product_app_product_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_app_product
    ADD CONSTRAINT product_app_product_pkey PRIMARY KEY (id);


--
-- Name: product_app_productcategory product_app_productcategory_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_app_productcategory
    ADD CONSTRAINT product_app_productcategory_pkey PRIMARY KEY (id);


--
-- Name: product_app_productimage product_app_productimage_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_app_productimage
    ADD CONSTRAINT product_app_productimage_pkey PRIMARY KEY (id);


--
-- Name: ads_app_advertisementimage_advertisement_id_e4385fb2; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ads_app_advertisementimage_advertisement_id_e4385fb2 ON public.ads_app_advertisementimage USING btree (advertisement_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: customer_app_customerlocation_customer_id_b86bf42d; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX customer_app_customerlocation_customer_id_b86bf42d ON public.customer_app_customerlocation USING btree (customer_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: like_app_like_customer_id_e19b6fde; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX like_app_like_customer_id_e19b6fde ON public.like_app_like USING btree (customer_id);


--
-- Name: like_app_likeitem_like_id_f05c4bcd; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX like_app_likeitem_like_id_f05c4bcd ON public.like_app_likeitem USING btree (like_id);


--
-- Name: like_app_likeitem_product_id_54ebfd0f; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX like_app_likeitem_product_id_54ebfd0f ON public.like_app_likeitem USING btree (product_id);


--
-- Name: order_app_order_customer_id_34122cec; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX order_app_order_customer_id_34122cec ON public.order_app_order USING btree (customer_id);


--
-- Name: order_app_orderitem_order_id_d8561a3b; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX order_app_orderitem_order_id_d8561a3b ON public.order_app_orderitem USING btree (order_id);


--
-- Name: order_app_orderitem_product_id_2eb760d9; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX order_app_orderitem_product_id_2eb760d9 ON public.order_app_orderitem USING btree (product_id);


--
-- Name: order_app_shippingaddress_customer_id_0ffe71a4; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX order_app_shippingaddress_customer_id_0ffe71a4 ON public.order_app_shippingaddress USING btree (customer_id);


--
-- Name: order_app_shippingaddress_order_id_5e629eb1; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX order_app_shippingaddress_order_id_5e629eb1 ON public.order_app_shippingaddress USING btree (order_id);


--
-- Name: order_app_shippingaddress_region_name_id_f0a000c6; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX order_app_shippingaddress_region_name_id_f0a000c6 ON public.order_app_shippingaddress USING btree (region_name_id);


--
-- Name: product_app_product_category_name_product_id_918916b8; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX product_app_product_category_name_product_id_918916b8 ON public.product_app_product_category_name USING btree (product_id);


--
-- Name: product_app_product_category_name_productcategory_id_1c022e88; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX product_app_product_category_name_productcategory_id_1c022e88 ON public.product_app_product_category_name USING btree (productcategory_id);


--
-- Name: product_app_productimage_product_name_id_672e649b; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX product_app_productimage_product_name_id_672e649b ON public.product_app_productimage USING btree (product_name_id);


--
-- Name: ads_app_advertisementimage ads_app_advertisemen_advertisement_id_e4385fb2_fk_ads_app_a; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ads_app_advertisementimage
    ADD CONSTRAINT ads_app_advertisemen_advertisement_id_e4385fb2_fk_ads_app_a FOREIGN KEY (advertisement_id) REFERENCES public.ads_app_advertisement(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: customer_app_customerlocation customer_app_custome_customer_id_b86bf42d_fk_customer_; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer_app_customerlocation
    ADD CONSTRAINT customer_app_custome_customer_id_b86bf42d_fk_customer_ FOREIGN KEY (customer_id) REFERENCES public.customer_app_customer(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: customer_app_customer customer_app_customer_user_id_0adfbbeb_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer_app_customer
    ADD CONSTRAINT customer_app_customer_user_id_0adfbbeb_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: like_app_like like_app_like_customer_id_e19b6fde_fk_customer_app_customer_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.like_app_like
    ADD CONSTRAINT like_app_like_customer_id_e19b6fde_fk_customer_app_customer_id FOREIGN KEY (customer_id) REFERENCES public.customer_app_customer(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: like_app_likeitem like_app_likeitem_like_id_f05c4bcd_fk_like_app_like_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.like_app_likeitem
    ADD CONSTRAINT like_app_likeitem_like_id_f05c4bcd_fk_like_app_like_id FOREIGN KEY (like_id) REFERENCES public.like_app_like(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: like_app_likeitem like_app_likeitem_product_id_54ebfd0f_fk_product_app_product_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.like_app_likeitem
    ADD CONSTRAINT like_app_likeitem_product_id_54ebfd0f_fk_product_app_product_id FOREIGN KEY (product_id) REFERENCES public.product_app_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_app_order order_app_order_customer_id_34122cec_fk_customer_; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_app_order
    ADD CONSTRAINT order_app_order_customer_id_34122cec_fk_customer_ FOREIGN KEY (customer_id) REFERENCES public.customer_app_customer(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_app_orderitem order_app_orderitem_order_id_d8561a3b_fk_order_app_order_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_app_orderitem
    ADD CONSTRAINT order_app_orderitem_order_id_d8561a3b_fk_order_app_order_id FOREIGN KEY (order_id) REFERENCES public.order_app_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_app_orderitem order_app_orderitem_product_id_2eb760d9_fk_product_a; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_app_orderitem
    ADD CONSTRAINT order_app_orderitem_product_id_2eb760d9_fk_product_a FOREIGN KEY (product_id) REFERENCES public.product_app_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_app_shippingaddress order_app_shippingad_customer_id_0ffe71a4_fk_customer_; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_app_shippingaddress
    ADD CONSTRAINT order_app_shippingad_customer_id_0ffe71a4_fk_customer_ FOREIGN KEY (customer_id) REFERENCES public.customer_app_customer(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_app_shippingaddress order_app_shippingad_order_id_5e629eb1_fk_order_app; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_app_shippingaddress
    ADD CONSTRAINT order_app_shippingad_order_id_5e629eb1_fk_order_app FOREIGN KEY (order_id) REFERENCES public.order_app_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_app_shippingaddress order_app_shippingad_region_name_id_f0a000c6_fk_order_app; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_app_shippingaddress
    ADD CONSTRAINT order_app_shippingad_region_name_id_f0a000c6_fk_order_app FOREIGN KEY (region_name_id) REFERENCES public.order_app_shippingregion(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_app_product_category_name product_app_product__product_id_918916b8_fk_product_a; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_app_product_category_name
    ADD CONSTRAINT product_app_product__product_id_918916b8_fk_product_a FOREIGN KEY (product_id) REFERENCES public.product_app_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_app_product_category_name product_app_product__productcategory_id_1c022e88_fk_product_a; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_app_product_category_name
    ADD CONSTRAINT product_app_product__productcategory_id_1c022e88_fk_product_a FOREIGN KEY (productcategory_id) REFERENCES public.product_app_productcategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_app_productimage product_app_producti_product_name_id_672e649b_fk_product_a; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_app_productimage
    ADD CONSTRAINT product_app_producti_product_name_id_672e649b_fk_product_a FOREIGN KEY (product_name_id) REFERENCES public.product_app_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

