.box-shadow{
    transform: 1s linear;
}

.box-shadow:hover{
    box-shadow: 0px 6px 8px rgba(4, 120, 87, 0.3);
}

.goods-size{
    width: 100% !important;
    height: 175px !important;
}

.goods-order-size{
    width: 100% !important;
    height: 100px !important;
}

