html,body{height:100%;}#pageBody{min-height:100%;}

.rem3{
    height: 60px;
}

.w-90{
    width: 90%;
}

.bg-custom-gray{
    background: #f4f4f4;
}

.bg-1{
    background: #ECFDF5;
}

.bg-3{
    background: #A7F3D0;
}

.bg-5{
    background: #34d399;
}

.bg-8{
    background: #047857;
}

.bg-10{
    background: #064e3b;
}

.border-custom-1{
    border: 1px solid #047857;
}

.color-1{
    color: #ECFDF5;
}

.color-5{
    color: #34d399;
}

.color-11{
    color: #022c22;
}

.vh-custom{
    height: 25vh;
}

@media (min-width: 576px) {
    .vh-custom{
        height: 30vh;
    }
}

@media (min-width: 768px) {
    .vh-custom{
        height: 35vh;
    }
}

@media (min-width: 920px) {
    .vh-custom{
        height: 40vh;
    }
}

@media (min-width:1200px) {
    .vh-custom{
        height: 45vh;
    }
}

@media (min-width:1400px) {
    .vh-custom{
        height: 50vh;
    }
}

.custom-hover-2:hover .box-shadow{
    box-shadow: 0px 4px 8px rgba(4, 120, 87, 0.3);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button,
input[type=number] {
    -webkit-appearance: none;
    -moz-appearance: textfield; /* Firefox */
}

input[type="number"]:focus{
    border: none;
    outline: none;
}

.modal input:focus{
    outline: none;
    box-shadow: none;
    border-color:#022c22;
}

.modal textarea:focus{
    outline: none;
    box-shadow: none;
    border-color:#022c22;
}

.modal .form-select:focus{
    outline: none;
    box-shadow: none;
    border-color:#022c22;
}


.modal .btn-close:focus{
    box-shadow: none;
}

.truncate-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
    line-height: 1.6; /* Adjust line height as needed */
    /* max-height: calc(1.6 * 2); */
    text-overflow: ellipsis;
}

.img-hover img{
    transition: 0.3s;
}

.img-hover:hover img{
 transform: scale(1.2);
}

.input-group{
    user-select: none;
}

@media (min-width: 992px) {
    .bd-toc {
        position: -webkit-sticky;
        position: sticky;
        top: 4.30rem;
        right: 0;
        z-index: 2;
        height: calc(100% - 7rem);
        overflow-y: auto;
    }
}

@media only screen and (max-width: 768px) {
    button {
        display: flex;
        align-items: center; /* Align items vertically in the center */
    }
    
    button .bi::before{
        vertical-align: middle; /* Ensure the icon aligns with the text */
    }
}



