{% extends "admin_panel.html" %}

{% block title %}Add objects{% endblock title %}

{% block links_and_css %}{% endblock links_and_css %}

{% block content %}
<div class="mt-5">
    <form method="POST" id="parent-form">
        {% csrf_token %}
        <input type="hidden" value="{{selected_model_name}}" id="selected_model_name">
        {{form}}
        <button type="button" class="submitButton btn btn-success mt-3">Save</button>
    </form>
</div>
{% endblock content %}

{% block scripts %}{% endblock scripts %}

