<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Admin Panel{% endblock title %}</title>
  <link rel="shortcut icon" href="{% static "media/icons/medical.png" %}" type="image/x-icon">

  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap-icons.min.css" %}">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <script src="{% static "js/jquery-3.7.1.min.js" %}"></script>

  {% block links_and_css %}{% endblock links_and_css %}


</head>
<body>
  <header class="py-2 bg-success-subtle shadow-sm sticky-top">
    <div class="container-xxl">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="btn btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <span><i class="bi bi-three-dots-vertical"></i></span>
          </button>
        </div>
      </nav>
    </div>
  </header>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Departments</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      {% for app_name, models in app_models.items %}
      <table class="table table-striped mb-5">
        <tr>
          <th class="bg-dark-subtle border-top border-bottom">{{app_name|upper}}</th>
        </tr>
        {% for model in models %}
        <tr class="">
          <td class="d-flex w-100 justify-content-between">
            <a class="link-dark text-decoration-none" href="{% url "admin_app:admin-dashboard" %}?model={{model.name}}">
            {{model.name}}
            </a>
            {% if model.in_list %}
              <a class="btn btn-success btn-sm small" href="{% url "admin_app:add-object" %}?add-object={{model.name}}"><span class="bi bi-plus"><span></a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
      {% endfor %}
    </div>
  </div>
  <div class="container-xxl">
  {% block content %}{% endblock content %}

  {% load custom_filters %}
  {% if model_name %}
    {% for model, info in model_name.items %}
    <div class="mt-5 mb-2 d-flex w-100 justify-content-between">
      <span class="fs-4">{{model}}</span>
      <input type="hidden" value="{{model}}" id="nameModel">
      {% csrf_token %}
      {% if info.in_list %}
        <a class="btn btn-success" href="{% url "admin_app:add-object" %}?add-object={{model}}"><span class="bi bi-plus"><span></a>
      {% endif %}
    </div>
    {% endfor %}
    <div class="w-100 overflow-x-auto">
      <table class="table table-striped">
        <thead>
          <tr>
          {% for field in selected_model_field %}
            <th class="bg-dark-subtle">{{field|title}}</th>
          {% endfor %}
          {% for model, info in model_name.items %}
            {% if info.in_list %}
              <th class="bg-dark-subtle">Edit</th>
              <th class="bg-dark-subtle">Delete</th>
            {% endif %}
          {% endfor %}
          </tr>
        </thead>
        <tbody>
        {% for obj in selected_model_objects %}
          <tr>
          {% for field in selected_model_field %}
            <td>{{obj|get_attr:field}}</td>
          {% endfor %}
          {% for model, info in model_name.items %}
            {% if info.in_list %}
            <form method="POST" action="{% url "admin_app:edit" %}">
              {% csrf_token %}
              <input type="hidden" value="{{model}}" name="model">
              <input type="hidden" value="{{obj.id}}" name="id">
              <td><button type="submit" class="editBtn btn btn-sm btn-warning" value="{{obj.id}}"><span class="bi bi-pen"></span></button></td>
            </form>
            <td><button class="deleteBtn btn btn-sm btn-danger" value="{{obj.id}}"><span class="bi bi-dash"></span></button></td>
            {% endif %}
          {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
  </div>
  <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "adminscript.js" %}"></script>
  
  {% block scripts %}{% endblock scripts %}

</body>
</html>