<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel</title>
  <link rel="shortcut icon" href="{% static "media/icons/medical.png" %}" type="image/x-icon">

  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap-icons.min.css" %}">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <script src="{% static "js/jquery-3.7.1.min.js" %}"></script>

</head>
<body>
  <header class="py-2 bg-success-subtle shadow-sm sticky-top">
    <div class="container-xxl">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="btn btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <span><i class="bi bi-three-dots-vertical"></i></span>
          </button>
        </div>
      </nav>
    </div>
  </header>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Departments</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      {% for app_name, models in app_models.items %}
      <table class="table table-striped mb-5">
        <tr>
              <th class="bg-dark-subtle border-top border-bottom">{{app_name|upper}}</th>
        </tr>
        {% for model_name in models %}
        <tr class="">
          <td>
            <a class="link-dark text-decoration-none" href="{% url "admin_app:admin-dashboard" %}?model={{model_name}}">
            {{model_name}}
            </a>
          </td>
        </tr>
        {% endfor %}
      </table>
      {% endfor %}
    </div>
  </div>
  <div class="container-xxl">
    {% load custom_filters %}
    {% if selected_model_name %}
    <div class="fs-4 mt-5 mb-2">{{selected_model_name}}</div>
    <table class="table table-striped overflow-x-auto w-100">
      <thead>
        <tr>
        {% for field in selected_model_field %}
          <th class="bg-dark-subtle">{{field|title}}</th>
        {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for obj in selected_model_objects %}
        <tr>
          {% for field in selected_model_field %}
          <td>{{obj|get_attr:field}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
  <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
</body>
</html>