{% extends "admin_panel.html" %}

{% block title %}Add objects{% endblock title %}

{% block links_and_css %}{% endblock links_and_css %}

{% block content %}
<form method="POST" id="parent-form" action="{% url "admin_app:add-object" %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" value="{{selected_model_name}}" name="selected_model_name">
    {{parent_form.as_p}}
    {{child_formset.management_form}}
    {% for form in child_formset %}
    {{form.as_p}}
    {% endfor %}
    <button type="submit" class="submitButton btn btn-success mt-3">Save</button>
</form>
{% endblock content %}

{% block scripts %}{% endblock scripts %}