{% extends "base.html" %}
{% load static %}

{% block title %}
  
{% endblock title %}

{% block links_and_css %}
{% endblock links_and_css %}

{% block content %}
  <div class="container-xxl my-4 h-100">
    <div class="row">
      <div class="col-12 col-lg-9">
        <div class="d-flex justify-content-between">
          <div class="">
            <div class="h3 fw-bold color-11">
              Sebet
            </div>
          </div>
          <div class="">
            <div>
              <button class="orderRemove btn btn-outline-success py-1 mb-1" value="{{order_id}}">
                <i class="bi-trash"></i> Arassala
              </button>
            </div>
          </div>
        </div>
        <div class="border p-2 bg-white" id="itemsList">
          {% for item in items %}
          <div class="customBodyCart position-relative border-bottom">
            <div class="row my-2">
              <div class="col-4 col-lg-2">
                <div class="goods-order-size">
                  {% for image in item.product.images.all %}
                  <img class="w-100 h-100" src="{{image.image.url}}" alt="">
                  {% endfor %}
                </div>
              </div>
              <div class="col-8 col-lg-10">
                <div class="row h-100 align-items-center">
                  <div class="col-12 col-lg-8">
                    <div class="h5 fw-bold mb-3 mt-4 mt-lg-0">
                      {{item.product.product_name}}
                    </div>
                    <div class="small truncate-text">{{item.product.product_description}}</div>
                  </div>
                  <div class="col-12 col-lg-4">
                    <div class="row row-cols-2 row-cols-lg-1 w-100 g-1 mt-2">
                      <div class="col mb-0 mb-lg-2">
                        <div class="d-flex w-100 justify-content-lg-center fw-bold color-11 h-100 align-items-center">
                          {{item.product.sale_price}} TMT
                        </div>
                      </div>
                      <div class="col mt-0">
                        <div class="d-flex w-100 justify-content-lg-center justify-content-end">
                          <div class="col-lg-auto">
                            <div class="input-group">
                                <button class="btn btn-sm btn-outline-success px-1 px-sm-2 decrease-quantity"
                                id="decrease-quantity" value="{{item.product.id}}">
                                <i class="bi-caret-down"></i>
                                </button>
                                {% csrf_token %}
                                <span name="" id="quantity"
                                class="productQuantity border-0 bg-success color-1 fs-5 px-2" data-stock="{{item.product.stock}}">{{item.quantity}}</span>
                                <button class="btn btn-sm btn-outline-success px-1 px-sm-2 increase-quantity"
                                id="increase-quantity" value="{{item.product.id}}">
                                <i class="bi-caret-up"></i>
                                </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="position-absolute top-0 end-0">
              <div class="">
                <button class="itemRemove btn btn-outline-success py-0 px-1" value="{{item.product.id}}"><i class="bi-trash"></i></button>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="d-none" id="emptyBasket">
          <div class="vh-custom">
            <img class="w-100 h-100" src="{% static "media/icons/empty-cart.png" %}">
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 mt-2 mt-lg-0 bd-toc">
        <div class="border bg-white p-2">
          <div class="row row-cols-1">
            <div class="col">
              <div class="d-flex w-100 justify-content-between border-bottom">
                <div class="fw-normal h4">
                  Sebet:
                </div>
              </div>
            </div>
            <div class="col">
              <div class="d-flex w-100 justify-content-between">
                <div class="fw-normal h5">
                  Baha:
                </div>
                <div class="fw-bold color-11">
                  <span class="totalItemsPrice">{{total_items_price| floatformat:2}}</span>  TMT
                </div>
              </div>
            </div>
            <div class="col ">
              <div class="d-flex w-100 justify-content-between border-bottom">
                <div class="fw-normal h5">
                  Eltip Berme:
                </div>
                <div class="fw-bold color-11">
                  <span>{{shipping_price| floatformat:2}}</span> TMT
                </div>
              </div>
            </div>
            <div class="col">
              <div class="d-flex w-100 justify-content-between">
                <div class="fw-normal h5">
                  Jemi:
                </div>
                <div class="fw-bold color-11">
                  <span class="totalPrice">{{total_price| floatformat:2}}</span> TMT
                </div>
              </div>
            </div>
            <div class="col">
              <div class="">
                <button class="btn btn-outline-danger w-100 fw-bold" id="openForm" data-bs-toggle="modal" data-bs-target="#shippingForm">Sargyt Etmek</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" tabindex="-1" id="shippingForm">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Sargyt Maglumatlary</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="fullName" class="form-label">Ady</label>
              <input type="email" class="form-control" id="fullName">
            </div>
            <div class="mb-3">
              <label for="phoneNumber" class="form-label">Telefon Belgi</label>
              <div class="input-group">
                <span class="input-group-text" id="basic-addon3">+993</span>
                <input type="text" class="form-control" id="phoneNumber" aria-describedby="basic-addon3 basic-addon4">
              </div>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Sebit</label>
              <div class="input-group">
                <select class="form-select" id="regionName">
                  {% for region in shipping_regions %}
                  <option class="" value="{{region.id}}">{{region.region_name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="mb-3">
              <label for="shippingStreet" class="form-label">Salgy</label>
              <input type="email" class="form-control" id="shippingStreet" placeholder="koce/jay/otag">
            </div>
            <div class="mb-3">
              <label for="shippingNote" class="form-label">Bellik</label>
              <textarea class="form-control" id="shippingNote" rows="3" placeholder="Hacan getirmelidigini bellik edin"></textarea>
            </div>
            <label for="" class="form-label">Toleg Usuly</label>
            <div class="row row-cols-2 mb-3 mx-1">
              <div class="col form-check">
                <input class="form-check-input" type="radio" name="toleg" id="nagtToleg" value="cash" checked>
                <label class="form-check-label" for="nagtToleg">
                  Nagt Toleg
                </label>
              </div>
              <div class="col form-check">
                <input class="form-check-input" type="radio" name="toleg" id="kartToleg" value="card">
                <label class="form-check-label" for="kartToleg">
                  Bank Karty
                </label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="confirmShipping btn btn-outline-primary">Tassyklamak</button>
          </div>
        </div>
      </div>
  </div>
  </div>

{% endblock %}
{% block scripts %}
<script>
  AOS.init({
    once: true,
  });
</script>
{% endblock scripts %}