{% load static %}
<div id="pageFooter">
  <footer class="container-fluid bg-success-subtle py-3 margin-top-auto ">
    <div class="container-xxl">
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
          <div class="position-relative ">
            <div class="fw-bold h4 pt-4 color-11">
              Dermanhana
            </div>
            <div class="position-absolute color-11 top-0 start-0 mt-1 small">
              <div class="small">
                Online
              </div>
            </div>
            <div class="position-absolute row justify-content-center top-0 ms-5" id="logo">
              <div class="logo-size p-0">
                <img class="w-100" src="{% static "media/icons/medical.png" %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>