{% load static %}
{% load i18n %}
<div id="pageFooter">
  <div id="footerPush"></div>
  <footer class="container-fluid fixed-bottom bg-success-subtle py-1 margin-top-auto d-lg-none ">
    <div class="container-xxl">
      <div class="row row-cols-5 g-1">
        <div class="col">
          <div class="d-flex w-100 justify-content-center ">
            <a class="btn {% if request.path == '/' %}active{% endif %} fs-5" href="/">
              <span class="bi bi-house"></span>
            </a>
          </div>
        </div>
        <div class="col">
          <div class="d-flex w-100 justify-content-center">
            {% url 'ads_app:brands' as brands_url %}
            <a class="btn fs-5 {% if request.path == 'brands_url' %}active{% endif %}" href="{% url "ads_app:brands" %}">
              <span class="bi bi-tags"></span>
            </a>
          </div>
        </div>
        <div class="col">
          <div class="d-flex w-100 justify-content-center">
            {% url 'like_app:favorite' as favorite_url %}
            <a class="btn {% if request.path == favorite_url %}active{% endif %} fs-5" href="{% url "like_app:favorite" %}">
                <span class="bi bi-heart"></span>
            </a>
          </div>
        </div>
        <div class="col">
          <div class="d-flex w-100 justify-content-center">
            <a class="btn fs-5" href="#">
              <span class="bi bi-exclamation-circle"></span>
            </a>
          </div>
        </div>
        <div class="col">
          <div class="d-flex w-100 justify-content-center">
            {% url "order_app:cart" as cart_url %}
            <a class="btn {% if request.path == cart_url %}active{% endif %} fs-5 position-relative" href="{% url "order_app:cart" %}">
              <span class=""><i class="bi-basket"></i></span>
              <span class="totalQuantity position-absolute top-0 ms-1 mt-2 px-2 py-1 translate-middle badge rounded-pill bg-danger" id="totalQuantity">
                {{total_quantity}}
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>