{% extends "base.html" %}
{% load i18n %}

{% block title %}
Search
{% endblock title %}

{% block links_and_css %}
{% endblock links_and_css %}

{% block content %}
  <div class="my-5">
    <div class="container-xxl">
      <div class="h4 mt-5"> 
      {% trans "Search" %}
      </div>
      <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6">
        {% for product in search_products %}
        <div class="col">
          <div
            class="position-relative goods-size overflow-hidden rounded-2 bg-white shadow-sm border img-hover mb-2">
            {% for image in product.images.all %}
            <a href="{% url "product_app:profile" product.id %}">
              <img class="w-100 h-100 pe-0 z-0" src="{{ image.image.url }}" alt="">
            </a>
            {% endfor %}
            <div class="position-absolute bottom-0 start-0 z-1">
              <span class="rounded-bottom-0 rounded-end-2 bg-8 color-1 px-2 py-1 small">{{ product.sale_price }} TMT</span>
            </div>
          </div>
          <div class="">
            <div class="d-flex">
              <div class="" style="width: 36px;">
                <!-- Like form -->
                <form method="POST" class="like-form">
                  {% csrf_token %}
                  <input type="hidden" value="{{ product.id }}" class="input-field" name="product_id">
                  <button class="likeBtn btn btn-outline-danger fw-bold rounded-circle btn-sm " data-in-like="{{ product.in_like }}">
                    {% if product.in_like %}
                    <i class="bi bi-heart-fill"></i>
                    {% else %}
                    <i class="bi bi-heart"></i>
                    {% endif %}
                  </button>
                </form>
              </div>
              <div class="" style="width: calc(100% - 36px);">
                <!-- Add to cart form -->
                <form method="POST" class="add-form">
                  {% csrf_token %}
                  <input type="hidden" value="{{ product.id }}" class="input-field" name="product_id">
                  <button
                    class="addBtn btn btn-outline-success fw-bold rounded-5 w-100 btn-sm" data-in-cart="{{ product.in_cart }}">
                    <i class="bi-basket"></i>
                    <span>
                      {% if product.in_cart %}
                        {% trans "Remove" %}
                      {% else %}
                        {% trans "Add" %}
                      {% endif %}
                    </span>
                  </button>
                </form>
              </div>
            </div>
            <div class="color-11 fw-bold text-truncate">{{ product.name }}</div>
            <div class="fw-normal text-truncate small h6 fw-normal">
              {{ product.description }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
<script>
  AOS.init({
    once: true
  });
  $(document).ready(function() {
    $('[data-fancybox="gallery"]').fancybox({
    });
});
</script>
{% endblock scripts %}
